@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
    margin: 140px;
    padding: 20px;
    padding-right: 50px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: justify;
    color: #000000;
}

header {
    /*margin-left: 30px;*/
    margin-right: 50px;
    font-family: "Source Sans Pro", sans-serif;
    color: #21243D;
    font-size: 26px;
    line-height: 30px;
}

/* header centering img */
header > div > img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

/* header body paragraph */
header > div > div > p {
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
    padding-right: 40px;
}

/* footer */
footer {
    font-family: "Source Sans Pro", sans-serif;
    color: #21243D;
    text-align: center;
    padding: 50px;
}

.btn {
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(235, 235, 235);
}

/* section */
h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    color: #21243D;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    color: #21243D;
}

h3 {
    color: #21243D;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
}

h4 {
    color: darkgreen;
    font-family: "Source Sans Pro", sans-serif;
}

.in {
    margin-left: 30px;
}

.in2 {
    padding-left: 10px;
}

/* box contact & edu */
#background {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #EDF7FA;
}

.leftbox {
    width: 250px;
}

.gray {
    padding-left: 20px;
    color: #52575C;
}

/* flexbox */
.flex-container {
    display: flex;
    flex-direction: row;
    /*margin-right: 50px;*/
}

.flex-container > div {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

/*.flex-container > img {
    margin: 20px;
    padding-left: 10px;
    padding-right: 20px;
    width: 246px;
    border-radius: 6px;
    display: block;
}*/

.flex-container1 {
    display: flex;
    flex-direction: column;
}

.flex-container1 > div {
    height: 30px;
    align-items: center;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
}

/* project image*/
.project {
    width: 246px;
    border-radius: 6px;
}

/* round bg year */
.year {
    background: #142850;
    border-radius: 16px;
    width: 62px;
    height: 25px;
    text-align: center;
    color: white;
    font-weight: 600;
}